In [1]:
#  Python List Comprehensions

In [2]:
type([1,2,33])

list

In [3]:
lst=[]
for i in range (0,9):
  lst.append(i)

print (lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [5]:
lst = [1,2,3,4,5,6]
lst2 = []

for i in lst:
  lst2.append(i**2)

print (lst2 )

[1, 4, 9, 16, 25, 36]

In [7]:
numbers = [1,2,3,4,5]

# list comprehension
squard_numbers = [i**2 for i in numbers]
print (squard_numbers)

[1, 4, 9, 16, 25]

In [8]:
# Filtering a even number from a list

In [9]:
numbers = [1,2,3,4,5,6,7]
even_numbers = [i for i in numbers if i%2==0]
print(even_numbers)

[2, 4, 6]

In [11]:
# Flattening A list of Lists

In [1]:
lists = [[1,2,3],[2,3,4],[7,8,9]]
flattened_list = [i for sublist in lists for i in sublist]
print(flattened_list)

[1, 2, 3, 2, 3, 4, 7, 8, 9]

In [2]:
# Generate a lists of the 1st letters of the first letters of the words in a list:

In [3]:
lst = []
words = ['apple','mango','cherry']
for i in words:
  print(i[0])
  lst.append(i[0])

print(lst)

a
m
c
['a', 'm', 'c']

In [9]:
# Generating a list of the square of even nos
lst_square_even = []
def square_even(lst):
  for i in lst:
    if (i%2 == 0):
      lst_square_even.append(i**2)
  return lst_square_even

In [10]:
square_even([1,2,3,4,5,6])

[4, 16, 36]

In [11]:
integer_lst = []
lst = ['1','2','3']
for  i in lst :
  integer_lst.append(int(i))
print(integer_lst)

[1, 2, 3]

In [12]:
# ALL divisors of a number

no_lst = []

def divisors(n):
  for i in range(1, (n+1)):
    if(n%i == 0):
      no_lst.append(i)
  return no_lst

In [13]:
n = 14
divisors(n)

[1, 2, 7, 14]

In [14]:
# one line

number = 10
[i for i in range(1,number+1) if number%i==0]

[1, 2, 5, 10]