In [1]:
# Python Data Classes

In [2]:
from dataclasses import dataclass

@dataclass
class Person:
  name:str
  age:int
  profession:str

In [3]:
person1 =  Person("John", 30, "Engineer")

In [4]:
person1

Person(name='John', age=30, profession='Engineer')

In [5]:
@dataclass
class Rectangle:
  width:int
  height:int
  color:str='white'

In [6]:
rectangle1 = Rectangle(10, 20)
rectangle2 = Rectangle(10, 24, 'red')
rectangle2

Rectangle(width=10, height=24, color='red')

In [7]:
@dataclass(frozen=True)
class Point:
  x:int
  y:int

In [8]:
point =  Point(10, 20)
point

Point(x=10, y=20)

In [9]:
# Inheritance

In [10]:
@dataclass
class Person:
  name:str
  age:int
@dataclass
class Student(Person):
  student_id:str
  dept:str

In [11]:
person = Person("John", 30)
student = Student("boy", 21, "12345", "Computer Science")

In [12]:
student

Student(name='boy', age=21, student_id='12345', dept='Computer Science')

In [13]:
# Nested Dataclasses

@dataclass
class Address:
  street:str
  city:str
  state:str
  zip:str
@dataclass
class Person:
  name:str
  age:int
  address:Address

In [14]:
address = Address("123 Main St", "Anytown", "CA", "12345")
person = Person("John", 30, address)

In [15]:
person.address

Address(street='123 Main St', city='Anytown', state='CA', zip='12345')