In [1]:
# Python Control Flow

In [7]:
# if statement

val=input("enter the number")
value_float = float(val)
if(value_float%2==0):
  print("the no is even")

enter the number13

In [6]:
10%2==0

True

In [8]:
val=input("enter the number")
value_float = float(val)
if(value_float%2==0):
  print("the no is even")
else:
  print("the no is odd")

enter the number13
the no is odd

In [9]:
age=float(input("enter the age"))

if(age<18):
  print ("you are minor")
else:
  print("you are no minor")

enter the age14
you are minor

In [12]:
##Nested If-else
age=float(input("enter the age"))

if(age<18):
  print ("you are minor")
elif(age>=18 and age<=35):
  print("you are mid age")
else:
  print("you are old")

enter the age77
you are old

In [1]:
age=float(input("enter the age"))
if(age<18):
  print ("you are minor")
  if(age<15):
    print("you are in school")
  else:
    print("you are in college")
elif(age>=18 and age<=35):
  print("you are mid age")
else:
  print("you are old")

enter the age13
you are minor
you are in school

In [3]:
#Loops statement
## for loops, while loops

lst=[1,2,3,4,5,6,7]
for i in lst:
  print(i*3)

3
6
9
12
15
18
21

In [5]:
#find the sum of all the element in the list
lst=[1,2,3,4,5,6,7]
sum1=0
for i in lst:
   sum1=sum1+i
print(sum1)

28

In [8]:
lst=[1,2,3,4,5,6,7,7,8,9]
sum1=0
sum2=0
for i in lst:
  if(i%2==0):
    sum1=sum1+i
  else:
    sum2=sum2+i

#string formatting
print("the even sum is {a} and the odd sum is {b}".format(a=sum1,b=sum2))

the even sum is 20 and the odd sum is 32

In [9]:
# While Condition

i=0
while(i<=10):
  if(i%3==0):
    print(i*8)
  else:
    print(i*9)
  i=i+1

0
9
18
24
36
45
48
63
72
72
90

In [11]:
#break
x=1
while(x<8):
  print(x)
  if(x==4):
    break

  x=x+1

1
2
3
4

In [12]:
# Continue
x=0
while(x<7):
  x=x+1
  if(x==4):
    continue
  print(x)

1
2
3
5
6
7